{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    {% if book_id is defined %}
        <h3>{{ book_id.title }}</h3>
    {% endif %}

    {{ include('review/_form.html.twig') }}

    <a class="btn btn-primary mt-3 mb-5" href="{{ path('review_index') }}">Back</a>
{% endblock %}
